<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    {{!-- my custom css --}}
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <title>Sign Up</title>
  </head>
  <body>
    {{>header}}
        <div class="cover_pic">
            <div class=" pro_pic"><img src="/img/profile.jpg"  alt="profile_picture"></div>
        </div>
      {{!-- about here.... --}}
      <div class="about">
        <span>Sangita.singh1450</span> 
        <button class="message">Message</button>
        <button class="follow"><i class="fa fa-user">&#10003</i></button>
        <button class="d_down"><i class="fa fa-caret-down"></i></button>
        <button class="my_option">&#8226&#8226&#8226</button>
        <div class="my_row">
          <div class="my_col">posts<br> <b>14</b></div>
          <div class="my_col">followers<br><b>123</b></div>
          <div class="my_col">following<br> <b>107</b></div>
        </div><br><br><br>
        <p><b>Sangita Singh (sanju)</b></p>
        <p>What Do I Think About Now, These Passing Winds Say It All.</p>
        <p>Cute wid killer smile...</p>
        <p>Taken❤❤❤😍😊</p>
      </div>
      {{!-- about endss.... --}}
      <hr style="width: 60%; background-color:darkgray">
      
      {{!-- feeds here --}}
        <div class="feeds">
            <div class="f_head" >
                <span class="prifile_icon">
                  <img src="/img/3.jpg">
                </span>
                <span class="f_user">
                  Sangita.singh1450
                </span>
                <span class="f_option">...</span>
            </div>
            <div class="f_body">
              <img class=".img-fluid " src="/img/profile.jpg"  alt="posts">
            </div>
            <div class="f_bottom">
              <div class="f_desc">
                <i class="fa fa-heart" style="color: rgb(245, 71, 71);" ></i>
                <i class="fa fa-comment"></i>
                <i class="fa fa-send"></i>
                <span class="bookmark"><i class="fa fa-bookmark"></i></span> <br>
                <p>this about post and all that stuff</p>
                <p>this is something else</p>
              </div>
              <div class="f_comment">
                <span class="comment"> <input type="text" placeholder="Add a comment..."></span>
                <span class="post"> Post </span>
              </div>
            </div>
        </div>
        {{!-- feeds ends --}}
        {{!-- --------------------------------------------------------------- --}}
        <div class="feeds">
            <div class="f_head" >
              <span class="prifile_icon">
                  <img src="/img/3.jpg">
                </span>
              <span class="f_user">Sangita.singh1450</span>
              <span class="f_option">...</span>
            </div>
            <div class="f_body">
              <img src="/img/3.jpg"  alt="posts">
            </div>
            <div class="f_bottom">
              <div class="f_desc">
                <i class="fa fa-heart" style="color: rgb(245, 71, 71);" ></i>
                <i class="fa fa-comment"></i>
                <i class="fa fa-send"></i>
                <span class="bookmark"><i class="fa fa-bookmark"></i></span> <br>
                <p>this about post and all that stuff</p>
                <p>this is something else</p>
              </div>
              <div class="f_comment">
                <span class="comment"> <input type="text" placeholder="Add a comment..."></span>
                <span class="post"> Post </span>
              </div>
            </div>
        </div>
        {{!-- --------------------------------------------------------------- --}}
        <div class="feeds">
            <div class="f_head">
              <span class="prifile_icon">
                  <img src="/img/3.jpg">
                </span>
              <span class="f_user">Sangita.singh1450</span>
              <span class="f_option">...</span>
            </div>
            <div class="f_body">
              <img src="/img/2.jpg"  alt="posts">
            </div>
            <div class="f_bottom">
              <div class="f_desc">
                <i class="fa fa-heart" style="color: rgb(245, 71, 71);" ></i>
                <i class="fa fa-comment"></i>
                <i class="fa fa-send"></i>
                <span class="bookmark"><i class="fa fa-bookmark"></i></span> <br>
                <p>this about post and all that stuff</p>
                <p>this is something else</p>
              </div>
              <div class="f_comment">
                <span class="comment"> <input type="text" placeholder="Add a comment..."></span>
                <span class="post"> Post </span>
              </div>
            </div>
        </div>
        {{!-- --------------------------------------------------------------- --}}
        <div class="feeds">
            <div class="f_head" >
              <span class="prifile_icon">
                  <img src="/img/3.jpg">
                </span>
              <span class="f_user">Sangita.singh1450</span>
              <span class="f_option">...</span>
            </div>
            <div class="f_body">
              <img src="/img/5.jpg"  alt="posts">
            </div>
            <div class="f_bottom">
              <div class="f_desc">
                <i class="fa fa-heart" style="color: rgb(245, 71, 71);" ></i>
                <i class="fa fa-comment"></i>
                <i class="fa fa-send"></i>
                <span class="bookmark"><i class="fa fa-bookmark"></i></span> <br>
                <p>this about post and all that stuff</p>
                <p>this is something else</p>
              </div>
              <div class="f_comment">
                <span class="comment"> <input type="text" placeholder="Add a comment..."></span>
                <span class="post"> Post </span>
              </div>
            </div>
        </div>
        {{!-- --------------------------------------------------------------- --}}
        <div class="feeds">
            <div class="f_head">
              <span class="prifile_icon">
                  <img src="/img/3.jpg">
              </span>
              <span class="f_user">Sangita.singh1450</span>
              <span class="f_option">...</span>
            </div>
            <div class="f_body">
              <img src="/img/4.png"  alt="posts">
            </div>
            <div class="f_bottom">
              <div class="f_desc">
                <i class="fa fa-heart" style="color: rgb(245, 71, 71);" ></i>
                <i class="fa fa-comment"></i>
                <i class="fa fa-send"></i>
                <span class="bookmark"><i class="fa fa-bookmark"></i></span> <br>
                <p>this about post and all that stuff</p>
                <p>this is something else</p>
              </div>
              <div class="f_comment">
                <span class="comment"> <input type="text" placeholder="Add a comment..."></span>
                <span class="post"> Post </span>
              </div>
            </div>
        </div>
        {{!-- ---------------------------------------------------------------------------------------------------------------------------- --}}
        <main>
            <div class="div1"></div>
            <div class="div2"></div>
            <div class="div3"></div>
            <div class="div4"></div>
            <div class="div5"></div>
      </main>
    {{>footer}}
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>