<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    {{!-- my custom css --}}
    <link rel='stylesheet' type='text/css' media='screen' href='css/style.css'>
    <title>Sign Up</title>
  </head>
  <body>
    {{>header}}
    <div class="signup_form">
        <div clsss="signup_title"><h3>Sign Up</h3></div><hr>
        {{#if hasErrors}}
          {{#each messages}}
            <p class="validation_msg" >{{this}}</p>
          {{/each}}
        {{/if}}
        <form action="signup" method="POST">
            {{!-- <div class="form-group">
                <label for="exampleInputEmail1">Your name</label>
                <input type="text" class="form-control my_input" name="name" placeholder="enter your full name">
            </div> --}}
            <div class="form-group">
                <label for="exampleInputEmail1">email</label>
                <input type="email" class="form-control my_input " name="email" placeholder="enter your email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">password</label>
                <input type="password" class="form-control my_input" id="exampleInputPassword1" name="password" placeholder="enter your password">
            </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" >
            <button type="submit" class="btn btn-primary login_btn">Sign Up</button>
        </form><br>
        <p class="my_redirector"><hr style="width: 25%; background-color:darkgray; float:left;" >Already have an account? <a href="/signin">Sign In</a><hr style="width: 26%; background-color:darkgray; float:right;" ></p>
    </div>

{{!-- start  of footer  --}}
    {{>footer}}

    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>